APP_NAME="Laravel CMS"
APP_ENV=local
APP_KEY=base64:Fwqejqwlekjqlwkejqlkejlqkwjelqkwj
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
